:root {
  --primary-color: #0070f3;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  color: #fff;
  animation: gradient 15s ease infinite;
	height: 100vh;
  width: 100%;
  background-repeat: inherit;
  background-attachment: fixed; 
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #0058b7;
  color: #fff;
}

.btn-back {
  display: inline-block;
  background-color: #f4f4f4;
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1.3rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0047ab;
  color: #fff;
  padding: 1rem;
  border-bottom: 5px solid #fff;
}

.logo {
  text-align: center;
  margin-bottom: 0.5rem;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.links a {
  margin: 0 0.5rem 0 0.5rem;
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  flex-grow: 1;
  padding: 0.8rem;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
}

.search-button {
  padding: 0.7rem 1rem;
  margin-left: 0.5rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0058b7;
}

.search-input:focus,
.search-button:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
}

.repos-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 0;
}

.repo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.repo-list li {
  margin: 2rem 0;
}

.repo-list a {
  display: block;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.repo-list a:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.repo-list h3 {
  margin: 0;
  font-size: 1.5rem;
}

.repo-list p {
  margin: 0;
  color: #666;
  font-size: 1.2rem;
}

.repo-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #999;
}

.repo-details span {
  display: flex;
  align-items: center;
}

.repo-details svg {
  margin-right: 0.5rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: blue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;

  background-color: #fff;
  color: #333;
}

.card h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

.card .card-content {
  margin-top: 1rem;
}

.card .card-stats {
  display: flex;
  margin: 1rem 0;
}

.card .card-stat {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.card .card-stat svg {
  margin-right: 0.5rem;
}

.card .card-stat span {
  font-size: 0.9rem;
}

.courses .card h2 {
  margin-bottom: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.profile{
  border-radius: 50%;
width: 200px;
height: 200px; 
justify-content: center;
}
.mypic{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}



.h1 {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
}

.h1 .span {
  font-size: 40px;
  margin-left: 40px;
}

.message {
  background-color: yellow;
  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;
}

.word1, .word2, .word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #50c2c2;
  color: #000;
  position: fixed;
  width: 100%;
  bottom: 0px;
  /* height: 60px; */
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}